* {
    margin: 0;
    overflow: hidden;
}

body {
    background-color: teal;
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 250px;
    width: 500px;
    border-radius: 10px;
}

.button {
    border: none;
    background-color: teal;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
    color: whitesmoke;
    transition: .1s;
}

.button:hover {
    color: white;
    background-color: rgb(0, 80, 80);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}